import Config

# Port to listen on
config :raccoon_server, :port, 8080

# UPRN for which to get bin data
config :raccoon_server, :uprn, "replace_me"

# Redis URL
config :raccoon_server, :redis_url, "redis://localhost:6379/0"

# Healthchecks.io URL
config :raccoon_server, :healthchecks_io_url, nil
